.card {
  display: flex;
  flex-direction: column;
  padding: 3em;
  gap: 1em;
  border-radius: 30px;
  width: 350px;
  transition: 200ms;
  justify-content: center;
  align-items: center;
  &:hover{
    cursor: pointer;
    box-shadow: 2px 2px 10px #e2e3e9;
  }
  img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }
  #label {
    color: #5843e4;
    font-size: 22px;
    font-weight: bold;
  }
}
