.survey-page{
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        text-align: center;
        text-decoration: underline #5843e4;
    }
}

.link-wrapper{
    text-align: center;
}

.answers{
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        padding: 3em 6em;
        margin: 2em;
        border-radius: 20px;
    }
}


.clicked-btn{
    border: 5px solid red;

}